    <div id="up-to-top" class="row">
      <div class="small-12 columns" style="text-align: right;">
        <a class="iconfont" href="#top-of-page">&#xf108;</a>
      </div><!-- /.small-12.columns -->
    </div><!-- /.row -->


    <footer id="footer-content" class="bg-grau">
      <div id="footer">
        <div class="row">
          <div class="medium-6 large-5 columns">
            <h5 class="">{{ site.data.language.info_website }}</h5>

            <p class="">
              {{ site.description }}
            </p>

            <ul class="inline-list social-icons">
            {% for social_item in site.data.socialmedia %}
              <li><a href="{{ social_item.url }}" target="_blank" class="{{ social_item.class }}" title="{{ social_item.title }}"></a></li>
            {% endfor %}
            </ul>

          </div><!-- /.large-6.columns -->


          <div class="medium-2 large-offset-1 columns">
            {% for content_item in site.data.content %}
              {% if forloop.first == true %}
                <h5 class="">{{ content_item.menu_name }}</h5>
              {% endif %}
            {% endfor %}

              <ul class="no-bullet ">
              {% for content_item in site.data.content %}
                {% if content_item.url contains 'http' %}{% assign domain = '' %}{% else %}{% capture domain %}{{ site.url }}{{ site.baseurl }}{% endcapture %}{% endif %}
                  <li {% if content_item.class %}class="{{ content_item.class }}" {% endif %}>
                    <a href="{{ domain }}{{ content_item.url }}" {% if content_item.url contains 'http' %}target="_blank" {% endif %} title="{{ content_item.title }}">{{ content_item.title }}</a>
                  </li>
              {% endfor %}
              </ul>
          </div><!-- /.large-4.columns -->


          <div class="medium-4 columns">
            {% for network_item in site.data.network %}
              {% if forloop.first == true %}
                <h5 class="">{{ network_item.menu_name }}</h5>
              {% endif %}
            {% endfor %}

            <ul class="no-bullet ">
            {% for network_item in site.data.network %}
              {% if network_item.url contains 'http' %}{% assign domain = '' %}{% else %}{% capture domain %}{{ site.url }}{{ site.baseurl }}{% endcapture %}{% endif %}
                <li>
                  {% if network_item.image != nil %}
                  <figure>
                  {% endif %}
                    <a href="{{ domain }}{{ network_item.url }}" target="_blank" title="{{ network_item.title }}">
                      {% if network_item.image != nil %}
                          <img src="{{site.urlimg}}{{network_item.image}}" alt="{{network_item.title}}">
                      {% else %}
                        {{ network_item.title }}
                      {% endif %}
                    </a>
                  {% if network_item.image != nil %}
                    {% if network_item.caption != nil %}
                    <figcaption>{{network_item.caption}}</figcaption>
                    {% endif %}
                  </figure>
                  {% endif %}
                </li>
            {% endfor %}
            </ul>
          </div><!-- /.large-3.columns -->
        </div><!-- /.row -->
      </div><!-- /#footer -->

      <div id="subfooter" class="credits">
        <div class="row">
          <div class="medium-12 columns">
            <p>
              Unless otherwise noted, website content and images are © Impact Open Source Software Trust and licensed under a <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" title="Creative Commons Attribution 4.0 International License">Creative Commons Attribution 4.0 International License</a>.
              The source code for this website is licensed under an <a href="https://github.com/impactoss/impactoss-org/blob/master/LICENSE" title="MIT Open Source License" target="_blank">MIT Open Source License</a> and available on <a href="https://github.com/impactoss/impactoss-org" target="_blank">GitHub</a>.
              See <a href="{{ site.baseurl }}/credits/" title="Website credits">Website credits</a> for further details.
            </p>
          </div>
        </div><!-- /.row -->
      </div><!-- /#subfooter -->
    </footer>
