@charset "utf-8";
/* TOC – Color Variables

- Basics
- Corporate Identity Colorpalette
- Foundation Color Variables
- Grey Scale
- Topbar-Navigation
- Footer
- Code

*/



/* Basics
------------------------------------------------------------------- */

$text-color:       	#1c2121;
$body-font-color: 	$text-color;
$body-bg: 		    	#fff;



/* Corporate Identity Colorpalette
   https://color.adobe.com/de/Flat-Design-Colors-v2-color-theme-4341903/
------------------------------------------------------------------- */

$ci-1: #0077d8;		// blue
$ci-2: #0063b5;		// blue hover
$ci-3: #1BAC29;   // green
$ci-4: #009ed8;		// sdg blue -aa large
$ci-5: #ED7000;		// orange
$ci-6: #033a89;		// dark blue




/* Foundation Color Variables
------------------------------------------------------------------- */

$primary-color: $ci-1;
$secondary-color: $ci-6;
$alert-color: $ci-5;
$success-color: $ci-3;
$warning-color: $ci-5;
$info-color: $ci-1;



/* Grey Scale
------------------------------------------------------------------- */

$grey-1: #f1f4f4;
$grey-2: #e0e6e6;
$grey-3: #d5dddd;
$grey-4: #cdd6d6;
$grey-5: #c7d1d1;
$grey-6: #8d9696;
$grey-7: #687271;
$grey-8: #323e3e;
$grey-9: #232b2b;
$grey-10: #1c2121;
$grey-11: #4B4B4B;
$grey-12: #3E3E3E;
$grey-13: #313131;
$grey-14: #242424;
$grey-15: #171717;
$grey-16: #0B0B0B;



/* Topbar-Navigation
------------------------------------------------------------------- */

$topbar-bg-color: $body-bg;
$topbar-bg: $topbar-bg-color;


$topbar-dropdown-toggle-color: $text-color;

$topbar-link-color: $text-color;
$topbar-link-color-hover: $text-color;
$topbar-link-color-active: $text-color;
$topbar-link-color-active-hover: $text-color;

$topbar-link-bg-active: $grey-2; // Active Navigation Link
$topbar-link-bg-hover: $grey-1;
$topbar-link-bg-active-hover: $grey-1;

$topbar-dropdown-label-color: $text-color;
$topbar-dropdown-link-bg-hover: $grey-1;

$topbar-dropdown-bg: $grey-1; // Background Mobile Navigation
$topbar-dropdown-link-color: $text-color;
$topbar-dropdown-link-bg: $grey-1;

$topbar-menu-link-color-toggled: $ci-1;
$topbar-menu-icon-color-toggled: $ci-1;
$topbar-menu-link-color: #000;
$topbar-menu-icon-color: #000;
$topbar-menu-link-color-toggled: $ci-6;
$topbar-menu-icon-color-toggled: $ci-6;



/* Footer
------------------------------------------------------------------- */

$footer-bg: $grey-1;
$footer-color: $grey-8;
$footer-link-color: $grey-8;


$subfooter-bg: $grey-8;
$subfooter-color: $grey-4;
$subfooter-link-color: $grey-1;



/* Code
------------------------------------------------------------------- */

$code-background-color: $grey-1;

$highlight-background: #ffffff;
$highlight-comment: #999988;
$highlight-error: #a61717;
$highlight-comment-special: #999999;
$highlight-deleted: #000000;
$highlight-error-2: #aa0000;
$highlight-literal-string: #d14;
$highlight-literal-number: #009999;
$highlight-name-attribut: #008080;
$highlight-error-background: #e3d2d2;
$highlight-generic-deleted: #ffdddd;
$highlight-generic-deleted-specific: #ffaaaa;
$highlight-generic-inserted: #ddffdd;
$highlight-generic-inserted-specific: #aaffaa;
$highlight-generic-output: #888888;
$highlight-generic-prompt: #555555;
$highlight-subheading: #aaaaaa;
$highlight-keyword-type: #445588;
$highlight-name-builtin: #0086B3;
$highlight-name-class: #445588;
$highlight-name-entity: #800080;
$highlight-name-exception: #990000;
$highlight-name-function: #990000;
$highlight-name-namespace: #555555;
$highlight-name-tag: #000080;
$highlight-text-whitespace: #bbbbbb;
$highlight-literal-string-regex: #009926;
$highlight-literal-string-symbol: #990073;
