---
layout: default
format: page-fullwidth
---
{% if page.image_filename %}
<div class="row t30">
	<div class="small-12 columns">
		<img src="{{ site.urlimg }}{{ page.image_filename }}" width="970" alt="{{ page.title | escape_once }}">
		{% if page.image_caption_url and page.image_caption %}
		<p class="text-right caption">
			<a href="{{ page.image_caption_url }}">{{ page.image_caption }}</a>
		</p>
		{% endif %}
	</div><!-- /.small-12.columns -->
</div><!-- /.row -->
{% endif %}
{% if page.video %}
<div class="row t30">
	<div class="small-12 columns">
		<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/262605219?title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
	</div><!-- /.small-12.columns -->
</div><!-- /.row -->
{% endif %}


<div class="row t30">
	<div class="medium-12 columns">
		<article>
			<header>
				{% if page.subheadline %}<p class="subheadline">{{ page.subheadline }}</p>{% endif %}
				<h1>{{ page.title }}</h1>
			</header>

			{% if page.teaser %}
			<p class="teaser">
				{{ page.teaser }}
			</p>
			{% endif %}

			{{ content }}

			{% if page.show_meta == true %}
			{% include _meta_information.html %}
			{% endif %}
		</article>
	</div><!-- /.medium-12.columns -->
</div><!-- /.row -->
